*{
    box-sizing: border-box;
}

.header{
    background-image: url(header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    text-align: center;
    color: white;
}

.navbar{
    overflow: hidden;
    background-color: blue;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: white;
    color: black;
}