<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Tugas PHP</h4>
        </div>

        <ul>
            <li><a href="">MAIN</a> </li>
            <li><a href="">PROFIL</a> </li>
            <li><a href="">PORTOFOLIO</a> </li>
        </ul>

        <div class="menu-toggle">
            <input type="checkbox">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <script src="script.js"></script>

    <div class="main">
        
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem nisi magni nemo facere et nesciunt, repudiandae tempore tempora nostrum itaque eius neque, odit excepturi labore voluptas saepe quod reiciendis deleniti.
    </div>

    <footer>
        <ul>
            <li>
                <img src="instagram.png" alt="">
                <a href="https://www.instagram.com/vieri_arief_m/">Instagram @vieri_arief_m</a> 
            </li>
        </ul>
    </footer>
</body>
</html>